<nz-layout class="layout">
    <nz-sider nzTheme="light">
        <nz-header>
            <span class="ant-primary-color">Filtros</span>
        </nz-header>
        <ul nz-menu class="sider-menu" nzMode="inline">
            <li nz-menu-item nzSelected (click)="filtro.set({})">
                <span>Todos</span>
            </li>
            @if (this.auth.isAdmin) {
            <li nz-submenu nzTitle="Roles" nzIcon="user" nzOpen>
                <ul>
                    @for (rol of roles(); track $index) {
                    <li nz-menu-item (click)="filtro.update(f=>({...f,rol:rol?.id}))">
                        <span>{{rol?.nombre}}</span>
                    </li>
                    }
                </ul>
            </li>
            }@else {
            <li nz-submenu nzTitle="Permisos" nzIcon="user" nzOpen>
                <ul>
                    <li nz-menu-item (click)="filtro.update(f=>({...f,permiso:3}))">
                        <span>Creador</span>
                    </li>
                    <li nz-menu-item (click)="filtro.update(f=>({...f,permiso:2}))">
                        <span>Modificar</span>
                    </li>
                    <li nz-menu-item (click)="filtro.update(f=>({...f,permiso:1}))">
                        <span>Solo lectura</span>
                    </li>
                </ul>
            </li>
            }
        </ul>
    </nz-sider>
    <nz-layout class="inner-layout">
        <nz-content>
            <nz-header>
                <div nz-row>
                    @if (this.auth.isAdmin) {
                    <div nz-col nzSpan="12">
                        <input nz-input class="border-color-primary" placeholder="Buscar email "
                            (input)="inputBuscar($event)" />
                    </div>
                    }@else {
                    <div nz-col nzSpan="12">
                        <app-modal-create-fichero nz-col nzSpan="12" (cargar)="buscar()" />
                    </div>
                    <div nz-col nzSpan="12">
                        <input nz-input class="border-color-primary" placeholder="Buscar nombre Fichero"
                            (input)=" inputBuscar($event)" />
                    </div>
                    }
                </div>
            </nz-header>
            @if (this.auth.isAdmin) {
            <nz-table #usersTable [nzData]="users()" [nzLoading]="loading()" [nzPageSize]="10"
                [nzScroll]="{y: '50vh' }">
                <thead>
                    <tr>
                        <th rowSpan="2">Nombre</th>
                        <th rowSpan="2">Rol</th>
                        <th colspan="2">Acciones</th>
                    </tr>
                    <tr>
                        <th>Editar Contraseña</th>
                        <th>Eliminar Usuario</th>
                    </tr>
                </thead>
                <tbody>
                    @for (data of usersTable.data; track data.id) {
                    <tr>
                        <td>{{ data.email }}</td>
                        <td>{{ data.rol }}</td>
                        <td>
                            <app-modal-edit-user [data]="data" />
                        </td>
                        <td>
                            <a nz-button nzType="link" nzDanger nz-popconfirm
                                nzPopconfirmTitle="Estas seguro que quieres eliminar este usuario?"
                                (nzOnConfirm)="deleteUser(data.id)">
                                Eliminar
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </nz-table>
            }@else {
            <nz-table #fichTable [nzData]="ficheros()" [nzLoading]="loading()" [nzPageSize]="10"
                [nzScroll]="{y: '50vh' }">
                <thead>
                    <tr>
                        <th rowspan="2">Nombre</th>
                        <th colspan="4">Acciones</th>
                        <th rowspan="2">Descripcion</th>
                        <th rowspan="2">Permiso</th>
                        <th rowspan="2">Fecha Creacion</th>
                        <th rowspan="2">Fecha Modificacion</th>
                        <th rowspan="2">Ultima Subida</th>
                        <th rowspan="2">Tipo</th>
                    </tr>
                    <tr>
                        <th>Abrir</th>
                        <th>Editar</th>
                        <th>Editar Permisos</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @for (data of fichTable.data; track data.id) {
                    <tr>
                        <td>{{ data.nombre }}</td>
                        <td>
                            <a nz-button nzType="link" (click)="abrir(data)">Abrir</a>
                        </td>
                        <td>
                            @if (data.permiso >= 2) {
                            <app-modal-create-fichero (cargar)="buscar()" [tipo]="1" [data]="data" />
                            }
                        </td>
                        <td>
                            @if (data.permiso === 3) {
                            <app-modal-permisos [id]="data.id" />
                            }
                        </td>
                        <td>
                            @if (data.permiso === 3) {
                            <a nz-button nzType="link" nzDanger nz-popconfirm
                                nzPopconfirmTitle="Estas seguro que quieres eliminar este fichero?"
                                (nzOnConfirm)="deleteFic(data.id)">
                                Eliminar
                            </a>
                            }
                        <td>{{ data.descripcion }}</td>
                        @switch (data.permiso) {
                        @case (1) {
                        <td>Solo lectura</td>
                        }
                        @case (2) {
                        <td>Modificar</td>
                        }
                        @case (3) {
                        <td>Creador</td>
                        }
                        }
                        <td>{{ data.fecha_creacion }}</td>
                        <td>{{ data.fecha_mod }}</td>
                        <td>{{ data.ultima_subida }}</td>
                        <td>{{ data.tipo }}</td>
                    </tr>
                    }
                </tbody>
            </nz-table>
            }
        </nz-content>
    </nz-layout>
</nz-layout>