input:read-only {
    background-color: var(--celda-readonly) !important;
    color: var(--secundary-color);
}

input:focus-visible {
    outline: none;
}

input:focus-visible:not([readonly]) {
    outline: none;
    box-shadow: inset 0 -2px 0 0 var(--secundary-color), inset 0 2px 0 0 var(--secundary-color), inset -2px 0 0 0 var(--secundary-color), inset 2px 0 0 0 var(--secundary-color);
}

p {
    position: absolute;
    bottom: 0;
    margin: 0;
}