.layout {}

.sider {
    background-color: var(--secundary-color);
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    position: sticky;
    width: 10vw;
    top: 0;
}

.sider-menu {
    margin-top: 1em;
    border-right: 0;
}

.sider-menu>* {
    margin: 0;
}

.inner-layout {
    padding: 0 2em 0;
    height: 100%;
}

nz-header {
    line-height: normal;
}

nz-content {
    background: #fff;
    height: 100%;
}