<nz-header nz-row nzJustify="space-evenly" nzAlign="middle">
    <!-- Descargar y cargar -->
    @if (mode() == 0) {
    <div nz-row>
        <div nz-col nzXs="0" nzSm="0" nzMd="24">
            <ng-container [ngTemplateOutlet]="Acciones" />
        </div>
        <button nz-button nz-col nzMd="0" (click)="openAcciones()">Acciones</button>
    </div>
    }
    <!--Nombre-->
    @if (mode()==0 && user() && ficheroService.permiso()) {
    <div nz-row nzSpan="12" nzAlign="middle" style="line-height: normal;flex-wrap: nowrap;">
        <span nz-col nzXs="0" nzSm="0" nzMd="24" class="ant-primary-color"
            style="flex: none; margin-right: 1em;">Nombre</span>
        <input nz-input nz-col class="border-color-primary" type="text" [value]="ficheroService.fichero()?.nombre ?? ''"
            (input)="cambiarNombre($event)" placeholder="Nombre del Fichero" />
    </div>
    }
    <!-- Formulas -->
    @if (ficheroService.fichero()?.tipo === 1) {
    <div nz-col nz-flex nzGap="middle" nzAlign="center">
        @if (ficheroService.permiso()) {
        @if (mode()==0) {
        <button nz-button nzType="default" (click)="mode.set(1)">Añadir Formula</button>
        }@else {
        <button nz-button nzType="link" (click)="mode.set(0)">
            <nz-icon nzType="close" nzTheme="outline" />
        </button>
        <button nz-button nzType="link" (click)="mode.update(m=>m-1)">
            <nz-icon nzType="left" nzTheme="outline" />
        </button>
        @if (mode()==1) {
        <div nz-row style="line-height: normal;">
            <div nz-col nzXs="0" nzSm="0" nzMd="24">
                <div nz-col nz-flex nzGap="middle">
                    <button nz-button nzType="default" (click)="setTipo('f')">En las celdas</button>
                    <button nz-button nzType="default" (click)="setTipo('c')">En el resultado</button>
                </div>
            </div>
            <div nz-col nzMd="0">
                <div nz-col nz-flex nzGap="middle">
                    <button nz-button nzType="default" (click)="setTipo('f')" (click)="openFunciones()">En las
                        celdas</button>
                    <button nz-button nzType="default" (click)="setTipo('c')" (click)="openFunciones()">En el
                        resultado</button>
                </div>
            </div>
        </div>
        }
        @else if (mode()==2) {
        <div nz-col nzXs="0" nzSm="0" nzMd="24">
            <ng-container [ngTemplateOutlet]="TipoFun" />
        </div>
        <button nz-button nz-col nzMd="0" (click)="openFunciones()">Ver funciones</button>
        }
        @else if (this.tipo() === 'f' && this.mode() === 3) {
        <h1 style="line-height: normal;">Seleciona las columnas que participen</h1>
        }@else {
        <h1 style="line-height: normal;">Seleciona la columna para poner el resultado</h1>
        }
        }
        <!--
        @if (mode() > 2) {
        <button nz-button nzType="primary" class="success" nzShape="circle" (click)="confirm()">
            <span nz-icon nzType="check"></span>
        </button>
        <button nz-button nzType="primary" class="danger" nzShape="circle" (click)="mode.set(2)">
            <span nz-icon nzType="close"></span>
        </button>
        }
    -->
        }
    </div>
    }
</nz-header>

<nz-float-button-group [style]="!isVisible()?'display: none;':''">
    <nz-float-button nzType="primary" class="success" nzIcon="check" (nzOnClick)="confirm()" />
    <nz-float-button nzType="primary" class="danger" nzIcon="close" (nzOnClick)="mode.set(2)" />
</nz-float-button-group>

<ng-template #Acciones let-data let-drawerRef="drawerRef">
    <div nz-col nz-flex [nzVertical]="data?.isVertical" nzGap="middle">
        @if (user() && ficheroService.permiso()) {
        <button nz-button nzType="default" (click)="uploadDB.emit()">
            <nz-icon nzType="cloud-upload" />
            @if (ficheroService.fichero()?.id ) {
            <span>Guardar</span>
            }@else {
            <span>Crear y guardar</span>
            }
        </button>
        }
        <button nz-button nzType="default" (click)="download.emit()">
            <nz-icon nzType="download" />
            <span>Descargar</span>
        </button>
        @if ( ficheroService.permiso()) {
        <div style="line-height: 0;">
            <button nz-button (click)="upload.emit()">
                <nz-icon nzType="upload" />
                <span>Subir archivo</span>
            </button>
        </div>
        }
    </div>
</ng-template>

<ng-template #TipoFun let-data let-drawerRef="drawerRef">
    <div nz-col nz-flex [nzVertical]="data?.isVertical" nzGap="middle">
        <button nz-button nzType="primary" nzDanger (click)="setFuncion('')"
            (click)="data?.isVertical && drawerRef.close()">Quitar</button>
        <button nz-button nzType="default" (click)="setFuncion('suma')"
            (click)="data?.isVertical && drawerRef.close()">Sumar</button>
        <button nz-button nzType="default" (click)="setFuncion('resta')"
            (click)="data?.isVertical && drawerRef.close()">Restar</button>
        <button nz-button nzType="default" (click)="setFuncion('multiplicacion')"
            (click)="data?.isVertical && drawerRef.close()">Multiplicacion</button>
        <button nz-button nzType="default" (click)="setFuncion('division')"
            (click)="data?.isVertical && drawerRef.close()">Division</button>
        <button nz-button nzType="default" (click)="setFuncion('promedio')"
            (click)="data?.isVertical && drawerRef.close()">Promedio</button>
        @if (this.tipo() === 'f') {
        <button nz-button nzType="default" (click)="setFuncion('dias')"
            (click)="data?.isVertical && drawerRef.close()">Diferencia de fechas en dias</button>
        <button nz-button nzType="default" (click)="setFuncion('meses')"
            (click)="data?.isVertical && drawerRef.close()">Diferencia de fechas en meses</button>
        }
    </div>
</ng-template>