<div nz-flex [nzVertical]="isVertical" nzAlign="center">
    @if (user()) {
    <button nz-button nzType="link" (click)="ficheroService.reset()"  nzMatchRouter [routerLink]="['/', 'main']">
        <span>Tabla</span>
    </button>
    <button nz-button nzType="link" nzMatchRouter [routerLink]="['/', 'home']">
        <span nz-icon nzType="home" nzTheme="outline"></span>
    </button>
    <button nz-button nzType="link" (click)="logout()">
        Cerrar Sesion
    </button>
    }@else {
    <!--Iniciar Sesion-->
    <app-modal-login />
    <!--Registarse-->
    <app-modal-register />
    }
</div>