@for (celda of fila(); track celda.columna ;let i = $index;let primero= $first) {

@let inicio = ((primero && celda.columna == 0) || !primero )?celda.columna:0;
@let fin = fila()[i+1]?.columna ?? limite;
@for (n of [].constructor(fin - inicio); track $index) {
<td app-celda
    [valoresIniales]="(($first && inicio == celda.columna) || (primero && celda.columna == $index ) )?celda.valoresIniales: undefined"
    [buscarCeldas]="buscarColumnas" [disabled]="disabled()" (click)="disabled() && onSelect(inicio + $index)"></td>
}
}