// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import '../node_modules/ng-zorro-antd/ng-zorro-antd.less';
// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less

@primary-color: #38BDF8;
@layout-body-background: #F7F8FA;
@layout-header-background: #0F172A;

@menu-item-active-bg: #0F172A;

@drawer-bg: @layout-header-background;

:root {
    --primary-color: @primary-color;
    --secundary-color: @layout-header-background;
    --bg-table-hf: #EEF2FF;
    --celda-readonly: #9bbbd85d;
}

.ant-primary-color,
.ant-primary-color * {
    color: @primary-color !important;
}

.ant-layout-header {
    height: 75px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid @primary-color;
}

h1 {
    color: @primary-color;
    margin-bottom: 0;
}

nz-float-button.success button,
button.success {
    background-color: @success-color !important;
    border-color: @success-color !important;

    &:hover {
        background-color: @success-color-hover !important;
    }
}

nz-float-button.danger button,
button.danger {
    background-color: @error-color !important;
    border-color: @error-color !important;

    &:hover {
        background-color: @error-color-hover !important;
    }
}

.ant-alert {
    align-items: center !important;
}