<nz-layout>
    <app-header-tabla (setSelect)="modeSelect.set($event)" (setSelectMult)="modeSelectMult.set($event)"
        (upload)="InputFile.click()" (download)="download()" (uploadDB)="uploadDB()" (clear)="clearSelect()"
        (result)="aplicar($event)" />
    <input #InputFile type="file" accept=".json" style="display: none;" (change)="onFileSelected($event)">
    <nz-content nz-row nzJustify="center" nzAlign="middle">
        <div nz-col class="inner-content">
            <table id="tabla-main">
                <thead>
                    <tr app-fila [data]="{head:cargado()?(functions()):(headers())}" [modoSelect]="modeSelect()"
                        (selecionado)="onSelect($event)" [tamColumna]="tamColumna()" (ampliar)="ampliarColum()"
                        [cargado]="cargado()" [disabled]="!ficheroService.permiso()">
                    </tr>
                </thead>
                <tbody>
                    @for (n of arrayFila(); track $index) {
                    @let fila = buscarFila($index);
                    <tr app-fila [data]="{body:cargado()?functions():(fila?.columnas ?? functions())}"
                        [modoSelect]="modeSelect()" (selecionado)="onSelect($event)" [tamColumna]="tamColumna()"
                        (click)="!modeSelect() && $index >= (tamFila()! + 1) && ampliarFila()"
                        (ampliar)="ampliarColum()" [cargado]="cargado()" [ultimo]="!cargado() && $last"
                        (carout)="bodyCargado()" [disabled]="!ficheroService.permiso()">
                    </tr>
                    }
                </tbody>
                <tfoot>
                    <tr app-fila [data]="{footer:footerColumnas()}" [tamColumna]="tamColumna()"
                        (ampliar)="ampliarColum()" [cargado]="cargado()" [modoSelect]="modeSelect()"
                        [disabled]="true">
                    </tr>
                </tfoot>
            </table>
        </div>
    </nz-content>
</nz-layout>

<nz-alert nzBanner nzType="warning" nzMessage="Hay una version mas actual ¿quieres sobrescribirlo?"
    [nzAction]="action" [nzDescription]="description" [style]="visibleAlert()?'':'display: none'" style="position: absolute; width: 50%; left: 25%;z-index: 1; align-items: center;" />
<ng-template #description>
    <p>Otro ususario ha hecho cambios, si lo sobrescribirbes los cambios de ese usuario seran borrados</p>
    <p>Se recomienda descargar los cambios en el dispositivo y volver a abrir el archivo</p>
</ng-template>
<ng-template #action>
    <nz-space nzDirection="vertical">
        <button *nzSpaceItem nz-button nzSize="small" nzType="primary" (click)="closedAlert()">Cerrar</button>
        <button *nzSpaceItem nz-button nzSize="small" nzType="default" nzDanger
            (click)="uploadDB(true)">Continiar</button>
    </nz-space>
</ng-template>