<button nz-button nzType="link" (click)="showModal()">
    <span>Iniciar Sesion</span>
</button>
<nz-modal [(nzVisible)]="visible" nzTitle="Iniciar Sesion" (nzOnCancel)="handleCancel()">
    <form *nzModalContent nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
            <nz-form-label>E-mail</nz-form-label>
            <nz-form-control nzHasFeedback [nzErrorTip]="emailError" autocomplete="off">
                <input nz-input formControlName="email" type="email" />
                <ng-template #emailError let-control>
                    @if (control.errors?.['email']) {
                    Tiene que ser un Email
                    }
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>Password</nz-form-label>
            <nz-form-control nzHasFeedback [nzErrorTip]="passError">
                <nz-input-password>
                    <nz-icon nzInputPrefix nzType="lock" />
                    <input nz-input type="password" formControlName="password" />
                </nz-input-password>
            </nz-form-control>
            <ng-template #passError let-control>
                @if (control.errors?.['minlength']) {
                Tiene que tener 8 caracteres
                }@else if (control.errors?.['pattern']) {
                Tiene que tener una mayuscula, una miniscula, un numero y un caracter especial
                }
            </ng-template>
        </nz-form-item>
    </form>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancelar</button>
        <button nz-button nzType="primary" (click)="submitForm()" [nzLoading]="loading()"
            [disabled]="!validateForm.valid">
            Iniciar Sesion</button>
    </div>
</nz-modal>